@import "/css/variables.css";
@import "/css/helper.css";
@import "./fonts.css";
@import "./top-bar.css";
@import "./navbar.css";
@import "./defaults.css";
@import "./footer.css";
@import "./course-box.css";
@import "./courseinfoSidebar.css";

.login-register {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.login-register::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 380px;
  top: -5rem;
  background-color: #2bce56;
  z-index: -1;
  transform: rotate(-4deg);
}
.login-register::after {
  content: "";
  position: absolute;
  width: 150%;
  height: 380px;
  z-index: -99;
  transform: rotate(-4deg);
  background-color: rgba(43, 206, 86, 0.6);
}
.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 4rem 0;
  padding: 2.5rem 2rem 5rem 2rem;
  background-color: var(--white-color);
  box-shadow: 0 6px 20px rgba(168, 172, 185, 0.3);
  border-radius: 5px;
  width: 50rem;
  border-bottom: 5px solid #2bc356;
}

.login-title {
  display: block;
  color: #7b868a;
  font-size: 2.2rem;
}
.login-subtitle {
  display: block;
  font-size: 1.5rem;
  color: #7b868a;
}
.login-new__member {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
  padding: 1.5rem 0;
  width: 100%;
  background-color: #f0f2f7;
  border-radius: 5px;
}
.login-new__member-title {
  font-size: 1.4rem;
  color: #7b868a;
}
.login-new__member-link {
  font-size: 1.2rem;
  color: var(--white-color);
  margin-right: 0.7rem;
  padding: 0.4rem 0.8rem;
  background-color: #a8aaaf;
  border-radius: 5px;
}
.login-form {
  width: 100%;
}
.login-form__username,
.login-form__password {
  position: relative;
}
.login-form__username-input,
.login-form__password-input {
  font-size: 1.4rem;
  width: 100%;
  padding: 1rem 1.1rem;
  margin: 0.8rem 0;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06);
}
.login-form__username-icon,
.login-form__password-icon {
  font-size: 2.2rem;
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  color: #ccc;
}
.login-form__btn {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 1.2rem 0;
  margin-top: 0.8rem;
  background-color: #2bce56;
}
.login-form__btn-icon {
  position: absolute;
  right: 1rem;
  color: var(--white-color);
  font-size: 1.8rem;
}
.login-form__btn-text {
  color: var(--white-color);
  margin: 0 auto;
}

.login-form__password-setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.login-form__password-save {
  display: flex;
  align-items: center;
}
.login-form__password-checkbox {
  margin-left: 1rem;
}
.login-form__password-savetext,
.login-form__password-forget-link {
  font-size: 1.4rem;
  color: #6c757d;
}
.login-conditions {
  font-size: 1.2rem;
  color: #7b868a;
  width: 100%;
  margin-top: 3rem;
}
.login-condition-lists {
  list-style-type: disc;
  margin-right: 2rem;
  margin-top: 1rem;
}
