@import "/css/variables.css";
@import "/css/helper.css";
@import "./fonts.css";
@import "./top-bar.css";
@import "./navbar.css";
@import "./defaults.css";
@import "./footer.css";
@import "./course-box.css";
@import "./courseinfoSidebar.css";
@import "./breadcrumb.css";

/* Helper styles */
.paragraph {
  font-size: 1.5rem;
  line-height: 3rem;
  color: #7d7e7f;
}
/* sidebar styles */
.sidebar-articles__lists {
  margin-top: 2rem;
}
.sidebar-articles-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  padding: 0.9rem 1.3rem 0.9rem 1rem;
  transition: all 400ms ease;
}
.sidebar-articles-item:hover {
  padding-right: 2rem;
  background-color: #f8f9fa;
}
.sidebar-articles-item:hover .sidebar-articles__icon {
  color: var(--primary-color);
}
.sidebar-articles__icon {
  font-size: 1.4rem;
  color: #909aa7;
  transition: all 400ms ease;
}
.sidebar-articles-link {
  font-size: 1.3rem;
  margin-right: 0.5rem;
}
.latest-articles-lists {
  margin-top: 2rem;
}
.latest-articles-item {
  border-bottom: 1px solid #eeeeee;
  padding: 1rem 0;
}
.latest-articles-link {
  font-size: 1.5rem;
}

/*Article section  */
.article-section {
  padding: 2.4rem;
  border-radius: 0.5rem;
  box-shadow: 0 5px 30px rgba(70, 72, 77, 0.08);
}
.article-section__title {
  font-size: 2.6rem;
  font-weight: bold;
  color: var(--dark-color);
  border-bottom: 2px solid #f3f3f3;
  padding-bottom: 1rem;
}
.article-section__header {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.article-header__item {
  margin-left: 2rem;
}
.article-header_-icon {
  font-size: 1.7rem;
  color: #c7c7c7;
}
.article-header__text {
  font-size: 1.2rem;
  color: #8f8f8f;
}

.article-poster {
  margin-top: 4rem;
}

.article__rating {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}
.article__rating-icon {
  margin-left: -0.4rem;
}
.article__rating-text {
  margin-right: 2rem;
  font-size: 1.7rem;
  color: #7d7d7f;
}

/* article topic links */
.article-topics {
  background-color: #f2f2f2;
  border-radius: 2rem;
  padding: 2rem 3rem;
  margin: 3rem 0;
}
.article-topics__title {
  display: block;
  color: #333333;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.article-topics__link {
  line-height: 2rem;
  font-size: 1.5rem;
  color: #1e83f0;
}
.article-topics__link:hover {
  text-decoration: underline;
}
.article-secondary-banner {
  display: block;
  margin: 0 auto;
}
.article-box {
  margin: 5rem 0;
}
.article-box__heading {
  font-size: 2.4rem;
  color: #008c25;
  font-weight: bold;
  line-height: 1.2;
}
.article-box__paragraph {
  margin: 2rem 0;
}
.articl-box__image {
  display: block;
  margin: 0 auto;
}

/* article social media  */
.article-social-media {
  display: flex;
  align-items: center;
}
.article-social-media__text {
  font-size: 1.5rem;
  color: #7d7e7f;
}
.article-social-media__link {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  color: #7b868a;
}
/* suggested articles */
.suggested-articles {
  margin: 4rem 0;
  padding: 3.5rem 2.5rem;
  border-radius: 0.5rem;
  background-color: #f0f2f7;
}

.suggested-articles-titles {
  display: flex;
  align-items: center;
}
.suggested-articles-right {
  position: relative;
}
.suggested-articles-left {
  position: relative;
  flex-direction: row-reverse;
}

.suggested-articles-right::before {
  content: "قدیمی تر";
  position: absolute;
  top: -2rem;
  left: 2rem;
  font-size: 1.8rem;
  color: #adb5db;
  font-weight: bold;
  transform: rotate(180deg);
}
.suggested-articles-left::before {
  content: "جدیدتر";
  position: absolute;
  top: -2rem;
  right: 2rem;
  font-size: 1.6rem;
  color: #adb5db;
  font-weight: bold;
}
.suggested-articles__icon {
  color: #adb5db;
}
.suggested-articles__link {
  text-align: center;
  margin: 1rem 2rem;
}
/* comments section */
.comments {
  display: flex;
  flex-direction: column;
}
.comments__title {
  color: var(--dark-color);
  font-size: 1.2rem;
}
.comments__text {
  margin: 1.5rem 0;
  font-size: 1.5rem;
}
.comments__content {
  display: flex;
  flex-direction: column;
}
.comments__content-title {
  font-size: 1.5rem;
  color: #6c757b;
}
.comment__content-textarea {
  height: 18.5rem;
  border-radius: 0.5rem;
  border: 1px solid #dcdcdc;
  box-shadow: 2 1px 3px 0 rgba(0, 0, 0, 0.07);
}
.comments_btn {
  margin-top: 2rem;
  max-width: 15rem;
  padding: 0.8rem 1.7rem;
  color: var(--white-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
